@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%; /* Asegura que ocupen toda la altura de la ventana */
  margin: 0;
  padding: 0;
}

body {
  background: #202020;
  color: white;
  font-family: 'Roboto', sans-serif;
  /* NO pongas estilos de max-width o margin: auto aquí. */
}